﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-lg-12">
        <a href="#" class="btn btn-default showLoginForm">Login</a>
        <a href="#" class="btn btn-default showRegisterForm">Register</a>
    </div>
</div>
<br />
<div class="row">    
    <div class="col-lg-3">
        <div id="login" class="hidden">
            <form action="RequestToken" method="post" id="theLoginForm">
                <div class="form-group">
                    <label for="UserNameLogin" class="control-label">User Name:</label>
                    <input type="text" id="UserNameLogin" name="UserNameLogin" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="PasswordLogin" class="control-label">Password:</label>
                    <input type="password" id="PasswordLogin" name="PasswordLogin" class="form-control" />
                </div>
                <a href="#" class="btn btn-primary login-button">Login</a>
            </form>
        </div>

        <div id="register" class="hidden">
            <form action="CreateCustomer" method="post" id="theRegisterForm">
                <div class="form-group">
                    <label for="UserName" class="control-label">User Name:</label>
                    <input type="text" id="UserName" name="UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Mail" class="control-label">Mail:</label>
                    <input type="text" id="Mail" name="Mail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Phone" class="control-label">Phone:</label>
                    <input type="text" id="Phone" name="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">Password:</label>
                    <input type="password" id="Password" name="Password" class="form-control" />
                </div>
                <a href="#" class="btn btn-primary register-button">Register</a>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-2">
        <h2>Api version 1.0</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <a href="#" class="btn btn-default showCreateForm">Create Product</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="createProduct" class="hidden">
            <form action="api/Product" method="post" id="theCreateForm">
                <div class="form-group">
                    <label for="Name" class="control-label">Name:</label>
                    <input type="text" id="Name" name="Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Descr" class="control-label">Description:</label>
                    <input type="text" id="Descr" name="Descr" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Price" class="control-label">Price:</label>
                    <input type="text" id="Price" name="Price" class="form-control" />
                </div>

                <a href="#" class="btn btn-primary create">Create</a>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="list">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Descr</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <h2>Api version 1.1</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <a href="#" class="btn btn-default showCreate2Form">Create Product</a>
    </div>
</div>

<div>
    <div>
        <div id="createProduct2" class="hidden">
            <form action="api/Product" method="post" id="theCreate2Form">
                <div class="form-group">
                    <label for="Name2" class="control-label">Name:</label>
                    <input type="text" id="Name2" name="Name2" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Descr2" class="control-label">Description:</label>
                    <input type="text" id="Descr2" name="Descr2" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Price2" class="control-label">Price:</label>
                    <input type="text" id="Price2" name="Price2" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label for="Category2" class="control-label">Category:</label>
                    <input type="text" id="Category2" name="Category2" class="form-control" />
                </div>

                <a href="#" class="btn btn-primary create2">Create</a>
            </form>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-lg-12">

        <div id="list2">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Descr</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>